<div class="chatArea">
  Howdy &nbsp;<div id="user" >{{ user.name}}</div>
  <ul class="messages"></ul>
</div>
<input class="inputMessage" placeholder="type here"/>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  var username = document.getElementById('user').innerHTML;
  var socket = io();

  // tell server your username
  socket.emit('add user', username);
  console.log(username + 'is joined');
  //server emits 'user joined'
  socket.on('user Joined',function(data){
    console.log(data.username + 'is joined');
    addParticipantsMessage(data);
  });

  function addParticipantsMessage(data){
    var message = '';
    if(data.numUsers === 1){
      message += "there is 1 particicpants";
    }else{
      message += "there are" + data.numUsers + "participants";
    }
    log(messsage);
  }

  //server emits 'user left'
  socket.on('user left', function(data){
    log(data.username + 'left');
    addParticipantsMessage(data);

  })


</script>
