
    <style>
        .whisper{
            color:gray;
            font-style:italic;
        }
        #users{
            display: none;
        }
        #userid{
            display:none;
        }
    </style>

    Hello <div id="xxx"> {{user.name}}</div>
    <div id="userid"> {{user._id}}</div>

    <ul id="messages"></ul>
    <form action="">
      <input class="form-control" id="m" autocomplete="off" /><button class="btn btn-default">Send</button>
    </form>
    <div id="status"> </div>
    <div id="users">
        <input id="private"></input>
        <input type="submit"></input>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        var socket=io();
        var namex = document.getElementById("xxx").innerHTML;
        var id = document.getElementById("userid").innerHTML;
       
        // tell server your username
        socket.emit('add user', {name:namex, user_id:id,});
        console.log(namex + ' is joined');
        

        //server emits 'user joined'
        socket.on('usernames', function(data){
            var html = '';
            var y = data.username;
            console.log(y);
            for(username in data){
                html += '<button onclick=myFunction()>' + data.username + '</button><br/>'
            }
            $('#status').html(html);
        });
        // onclick myFunction
        function myFunction(){
            console.log('yes');
            $('#users').show();
        }

        $('form').submit(function(){
            socket.emit('chat message', $('#m').val());
            var message = $('#m').val();
            $('#messages').append('<span class="whisper">' + message + '</span><br/>');
            $('#m').val('');
            return false;
        });

        socket.on('chat message', function(data){
            $('#messages').append('<span class="whisper"><b>' + data.nick + ':</b>' + data.msg + '</span><br/>');

        });
        
        //console.log(namex);
        $('#m').keyup(function(event){
            //console.log(namex);
            socket.emit('sender', namex);

        });

        socket.on('sender', function(data){
            document.getElementById("status").innerHTML = '<b>'+ data +'</b> is typing... ';
           // $('#status').append($('<li>'+ namex +' is typing '));
            setTimeout(function(){
                document.getElementById("status").innerHTML = '';
            },3000);
        });




    </script>
